/* Common Header Start */
header {
    width: 100%;
    position: fixed;
}

.desktop_nav{
    background-color: #0062ff;
    border-bottom-left-radius: 30px;
}

.menu-ul{
    position : relative;
    display : inline-block;
}

.menu-li{
    position : relative;
    display : inline-block;
}

.menu-a{
    position: relative;
    z-index: 100;
    display: block;
    height: 80px;
    line-height: 80px;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.55px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-left:20px;
}

.subMenu-div{
    display: none;
    position: absolute;
    top: 68px;
    left: -15px;
    z-index: 99;
    width: 152px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
}

.subMenu-div:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 1.0;
    filter: Alpha(opacity=100);
    /* border: 1px solid #33d0ad; */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px -3px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 20px -3px rgb(0 0 0 / 40%);
    background-color: #0062ff;
}

.subMenu-div.open {
    visibility: visible;
    opacity: 1.0;
    display: block;
}

.subMenu-ul {
    padding: 20px 0px;
}

.subMenu-li {
    position: relative;
    padding: 10px 30px;
}

.subMenu-a {
    display: block;
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.5;
}

.subMenu-a:hover{
    opacity: 1;
}

.menu-ul2{
    position : relative;
    display : inline-block;
}

.menu-li2{
    position : relative;
    display : inline-block;
}

.menu-a2{
    position: relative;
    z-index: 100;
    display: block;
    height: 80px;
    line-height: 80px;
    color: white !important;
    /* color: #000; */
    font-size: 18px;
    letter-spacing: -0.55px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-left:20px;
}

.subMenu-div2{
    display: none;
    position: absolute;
    top: 68px;
    left: -15px;
    z-index: 99;
    width: 152px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
}

.subMenu-div2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 1.0;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px -3px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 20px -3px rgb(0 0 0 / 40%);
    /* background-color: #0062ff; */
    background-color: white;
}

.subMenu-ul2 {
    padding: 20px 0px;
}

.subMenu-li2 {
    position: relative;
    padding: 10px 30px;
}

.subMenu-a2 {
    display: block;
    /* color: #fff !important; */
    color: black !important;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.5;
}

.menu-a2:hover{
    color:#0062ff;
}

.menu-a2:hover + .subMenu-div2{
    visibility: visible;
    opacity: 1.0;
    display: block;
}

.subMenu-div2:hover{
    visibility: visible;
    opacity: 1.0;
    display: block; 
}

.subMenu-a2:hover{
    opacity: 1;
}












.menu-ul3{
    position : relative;
    display : inline-block;
}

.menu-li3{
    position : relative;
    display : inline-block;
}

.menu-a3{
    position: relative;
    z-index: 100;
    display: block;
    height: 80px;
    line-height: 80px;
    /* color: #cacaca !important; */
    color: #f3f3f3 !important;
    font-size: 14px;
    letter-spacing: -0.55px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-left:20px;
}

.subMenu-div3{
    display: none;
    position: absolute;
    top: 68px;
    left: -15px;
    z-index: 99;
    width: 152px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
}

.subMenu-div3:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 1.0;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px -3px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 20px -3px rgb(0 0 0 / 40%);
    /* background-color: #0062ff; */
    background-color: white;
}

.subMenu-ul3 {
    padding: 10px 0px;
}

.subMenu-li3 {
    position: relative;
    padding: 10px 30px;
}

.subMenu-a3 {
    display: block;
    /* color: #fff !important; */
    color: black !important;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.5;
}

.menu-a3:hover{
    /* color:#0062ff !important; */
    color:white !important;
}

.menu-a3:hover + .subMenu-div3{
    visibility: visible;
    opacity: 1.0;
    display: block;
}

.subMenu-div3:hover{
    visibility: visible;
    opacity: 1.0;
    display: block; 
}

.subMenu-a3:hover{
    opacity: 1;
}



header .row_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    line-height: normal;
    margin: 0 !important;
}

header .column_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* height: 100%; */
    line-height: normal;
    margin: 0 !important;
}




/* Common Header End */
/* PC Header Start */
@media screen and (min-width: 769px) {
    header {
        min-width: 1320px;
        z-index: 2;
    }
}

/* PC Header End */