/* Common Header Start */
header {
    width: 100%;
    background: white;
    position: fixed;
}

/* Common Header End */
/* PC Header Start */
@media screen and (min-width: 769px) {
    header {
        min-width: 1320px;
        z-index: 2;
    }

    header .mobile_nav {
        display: none;
    }

    header .desktop_nav {
        padding: 12px 0;
        box-shadow: -1px -3px 5px 5px #838383;
    }

    header .desktop_nav .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .desktop_nav .logo_img {
        width: 168px;
        height: auto;
    }

    header .desktop_nav .menu-section {
        display: flex;
        margin: 0;
        margin-left: auto;
        padding: 0;
        list-style-type: none;
    }

    header .desktop_nav span {
        cursor: pointer;
        width: 100px;
        padding: 5px 0;
        display: block;
        text-align: center;
        text-decoration: none;
        background: none;
        transition: color 0.5s, background-color 0.5s;
    }

    header .desktop_nav .menu-category {
        list-style-type: none;
        margin-left: 30px;
        font-weight: bold;
        line-height: 1.3;
        color: #363636;
    }

    header .desktop_nav span:hover {
        color: #34b5a3;
    }

    header .desktop_nav .login_btn {
        border-radius: 20px;
        border-radius: 20px !important;
        color: white !important;
        background: #6ccbbc !important;
    }

    header .desktop_nav .login_btn:hover {
        background: #41bda6 !important;
    }

    header .desktop_subnav {
        display: none;
        height: 0;
        width: 100%;
        position: absolute;
        background: white;
        box-shadow: 0px 8px 5px -5px #838383;
        z-index: 2;
        min-width: 1320px;
    }

    header .desktop_subnav .wrapper {
        border-top: 1px solid #bebebe;
        display: flex;
        justify-content: space-between;
    }

    header .desktop_subnav .menu-section {
        display: flex;
        margin: 0;
        margin-left: auto;
        padding: 0;
        list-style-type: none;
    }

    header .desktop_subnav span {
        cursor: pointer;
        width: 100px;
        padding: 5px 0;
        display: block;
        text-align: center;
        text-decoration: none;
        background: none;
        transition: color 0.5s, background-color 0.5s;
    }

    header .desktop_subnav .menu-category {
        margin-left: 30px;
        font-weight: bold;
        line-height: 1.3;
        color: #363636;
    }

    header .desktop_subnav .submenu-section {
        margin-top: 10px;
    }

    header .desktop_subnav span:hover {
        color: #34b5a3;
    }

    header .desktop_subnav .submenu-category {
        line-height: normal;
        color: #858585;
    }
}

/* PC Header End */