#modal-auth-status {
    flex-direction: column;
    /* background-color: black !important; */
}

#modal-auth-status .title {
    display: flex;
    padding-left: 10px;
    color: black;
}

#modal-auth-status .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    height:auto;
}

#modal-alarm .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    height:auto;
}

#modal-alarm .alarm_table_div{
    width:100%;
    height:200px;
    overflow-y: scroll;
}

#modal-alarm .alarm_table{
    width: 100%;
    table-layout:fixed;
}

#modal-alarm .alarm_table th{
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
    line-height: normal;
    vertical-align: middle;
}

#modal-alarm .alarm_table td{
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    line-height: normal;
    white-space : nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: middle;
}


.m_row_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    line-height: normal;
}

.m_column_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    line-height: normal;
}

.m_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin: 10px;
    line-height: normal;
}

.m_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin: 10px;
    line-height: normal;
}

.m_title{
    font-size: 28px;
}

.j_start{
    justify-content: flex-start;
}

.j_end{
    justify-content: flex-start;
}

.i_start{
    align-items: flex-start;
}

.i_end{
    align-items: flex-end;
}