#modal-auth-status {
    flex-direction: column;
    /* background-color: black !important; */
}

#modal-auth-status .title {
    display: flex;
    padding-left: 10px;
    color: black;
}

#modal-auth-status .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    height:auto;
}

.m_row_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    line-height: normal;
}

.m_column_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    line-height: normal;
}

.m_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin: 10px;
    line-height: normal;
}

.m_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin: 10px;
    line-height: normal;
}

.m_title{
    font-size: 28px;
}

.j_start{
    justify-content: flex-start;
}

.j_end{
    justify-content: flex-start;
}

.i_start{
    align-items: flex-start;
}

.i_end{
    align-items: flex-end;
}