#modal-auth-status {
    flex-direction: column;
    /* background-color: black !important; */
}

#modal-auth-status .title {
    display: flex;
    padding-left: 10px;
    color: black;
}

#modal-auth-status .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    height:auto;
}

#modal-alarm .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    height:auto;
}

#modal-alarm .alarm_table_div{
    width:100%;
    height:200px;
    overflow-y: scroll;
}

#modal-alarm .alarm_table{
    width: 100%;
    table-layout:fixed;
}

#modal-alarm .alarm_table th{
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
    line-height: normal;
    vertical-align: middle;
}

#modal-alarm .alarm_table td{
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    line-height: normal;
    white-space : nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: middle;
}

#modal-inquiry .label{
    min-width:200px;
}

#modal-msg-load .menu_label{
    width: 80px;
    text-align: center;
    padding: 8px;
    border: 1px solid #888888;
    border-radius: 10px;   
    background-color: #cecece;
    cursor: pointer;
}

#modal-msg-load .menu_label.on{
    background-color: #b2b2ff;
}

#modal-msg-load .msg_type_label{
    position: relative;
    text-align: center;
    padding: 5px;
    border-radius: 5px;   
    background-color: #888888;
    color: white;
    top: 15px;
}

#modal-msg-load .msg_type_label.sms{
    background-color:#888888;
}

#modal-msg-load .msg_type_label.lms{
    background-color: #4a4adb;
}

#modal-msg-load .msg_type_label.mms{
    background-color: orange;
}

#modal-msg-load .msg_box{
    width: 100%;
    border: 3px solid #888888;
    height:250px;
}

#modal-msg-load .msg_box.sms{
   border: 3px solid #888888;
}

#modal-msg-load .msg_box.lms{
   border: 3px solid #4a4adb;
}

#modal-msg-load .msg_box.mms{
   border: 3px solid orange;
}

#modal-msg-load .msg_name{
   color:#4a4adb;
   cursor: pointer;
}


/* #modal-estimate .info_table_div{
    width:100%;
    height:300px;
    overflow-y: scroll;
} */

#modal-estimate .info_table {
    width: 100%;
    /* table-layout:fixed; */
}

#modal-estimate .info_table th {
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
    vertical-align: middle;
    line-height: normal;
}

#modal-estimate .info_table td {
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    height: 30px;
    vertical-align: middle;
    line-height: normal;
}

#modal-estimate .money_table {
    width: 100%;
    table-layout:fixed;
}

#modal-estimate .money_table th {
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
    vertical-align: middle;
    line-height: normal;
}

#modal-estimate .money_table td {
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    height: 30px;
    vertical-align: middle;
    line-height: normal;
}




.m_row_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    line-height: normal;
}

.m_column_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    line-height: normal;
}

.m_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin: 10px;
    line-height: normal;
}

.m_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin: 10px;
    line-height: normal;
}

.m_title{
    font-size: 28px;
}

.j_start{
    justify-content: flex-start;
}

.j_end{
    justify-content: flex-start;
}

.i_start{
    align-items: flex-start;
}

.i_end{
    align-items: flex-end;
}
