/* Common Introduction Start */
main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content .text_area .introduce_title {
    font-size: 30px;
    font-weight: bold;
    display: block;
    line-height: normal;
}

main .main_content .text_area .introduce_content {
    display: block;
    font-size: 14px;
    line-height: normal;
    margin-top:20px;
    color: #7c7c7c;
}

main .main_content1 {
    background: white;
    padding: 50px 0 0 0;
}

main .main_content1 .wrapper .text_area {
    height: 400px;
    justify-content: flex-start;
}

main .main_content1 .background_div {
    background-image: url("../../image/charge/banner_main_img.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 180px;
}

main .main_content2 {
    background: #ebf3ff;
    padding: 50px 0;
}

main .main_content2 .wrapper .left_area {
    height: 300px;
}

main .main_content2 .wrapper .page_area {
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}

main .main_content2 .wrapper .page_area .swiper-button-pause {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 5px;
    margin-left: 10px;
    color: #7c7c7c;
    cursor: pointer;
}

main .main_content2 .wrapper .page_area .swiper-button-prev, 
main .main_content2 .wrapper .page_area .swiper-button-next {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
    background-position: 50% 50%;
    background-size: 13px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

main .main_content2 .wrapper .page_area .swiper-button-prev {
}

main .main_content2 .wrapper .page_area .swiper-button-next {
    margin-left: 10px;
}

main .main_content2 .wrapper .text_area {
    align-items: flex-start;
    justify-content: flex-start;
}

main .main_content2 .wrapper .text_area .introduce_title {
    font-size: 24px;
}


main .main_content2 .swiper-pagination-custom {
    justify-content: flex-start;
}

main .main_content2 .bullet_button {
    padding: 5px 10px;
    width: 120px;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
}

main .main_content2 .swiper-pagination-bullet {
    height: auto;
    color: #7c7c7c;
    background-color: white;
    opacity: 1 !important;
}

main .main_content2 .swiper-pagination-bullet:not(:first-child) {
    margin-left: 10px;
}

main .main_content2 .swiper-pagination-bullet-active {
    color: white !important;
    background-color: #0062ff;
}

main .main_content2 .swiper_container_wrapper {}

main .main_content2 .swiper-container {
    width: 700px;
    border-radius: 10px;
    box-shadow: 5px 3px 10px #a3a3a3;
}

main .main_content2 .slide {
    background-color: white;
    padding: 20px;
}

main .main_content2 .wrapper .slide .charge_table {
    width: 100%;
    table-layout:fixed;
    height: 200px;
}

main .main_content2 .wrapper .slide .notice {
    margin-top:5px;
    justify-content: flex-end;
    font-size: 14px;
    color: #7c7c7c;
}

main .main_content2 .wrapper .slide caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom:10px;
}

main .main_content2 .wrapper .slide .charge_table th{
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

main .main_content2 .wrapper .slide .charge_table td{
    border: 1px solid #333;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    line-height: normal;
    white-space : nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: middle;
}

main .main_content2 .wrapper .slide .charge_table .msg_type{
    color:#7c7c7c;
}

main .main_content2 .wrapper .slide .charge_table .price{
    font-weight: bold;
    color:#0062ff;
}

main .main_content4 {
    background: white;
    padding: 50px 0;
    background-image: url("../../image/charge/bg_chat.png"), url("../../image/charge/bg_message.png");
    background-size: 250px, 300px;
    background-repeat: no-repeat;
    background-position: 90% 5%, 0% 100%;
}

main .main_content4 .wrapper .button_area {
    margin-top: 30px;
}

main .main_content4 .wrapper .image_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .main_content4 .select_box_wrapper {
    position: relative;
}

main .main_content4 .select_box_wrapper .introduce_box{
    position: absolute;
    top:0;
    right: 0;
    padding:10px;
    background-color: #f3f3f3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 5px 3px 10px #a3a3a3;
}

main .main_content4 .select_box {
    background-blend-mode: multiply;
    width:300px;
    height:300px;
    color:white;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.5s;
    background-color: rgb(174, 174, 174);
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 0;
    padding: 10px 0 0 20px;
}

main .main_content4 .select_box span {
    opacity: 1 !important;
}

main .main_content4 .select_box.fax_receive{
    background-image: url("../../image/charge/bg_fax.jpg");
    background-repeat: no-repeat;
    background-position: 30% 90%;
    background-size: 230%;
}

main .main_content4 .select_box.refuse_080{
    background-image: url("../../image/charge/bg_080.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 150%;
}

main .main_content4 .select_box:hover{
    background-color: #e8e8e8;
    /* background-color: transparent; */
}

main .main_content5 {
    padding: 50px 0;
    background: #ebf3ff;
}


.inquiry_box {
    width: 800px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inquiry_box .column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inquiry_box .row {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input-area{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}


/* PC Introduction End */