main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content1 {
    background: white;
    padding: 50px 0;
}

main .main_content .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content .wrapper .column_wrapper {
    width: 100%;
}

main .main_content .text_area .introduce_title {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

main .main_content .text_area .introduce_content {
    font-size: 18px;
    display: block;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper {
    margin-top: 30px;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .box {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .b_box:not(:first-child) {
    margin-left: 20px;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .s_box:not(:first-child) {
    margin-top: 20px;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .s_box {
    height: 120px;
    cursor: pointer;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .b_box {
    height: 260px;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .b_box:last-child{
    background-color: #0062ff;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .b_box:last-child .title,
main .main_content .wrapper .inquiry_main_box .box_wrapper .b_box:last-child .content {
    color: white;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .box .title {
    font-size: 24px;
    font-weight: bold;
    color: #0062ff;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .box .content {
    color: #7c7c7c;
    font-size: 18px;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .box .icon_img {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .box .content_area {
    margin-top: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

main .main_content .wrapper .inquiry_main_box .box_wrapper .box .content_area .content:not(:first-child) {
    margin-top: 10px;
}





main .main_content .wrapper .inquiry_list_box {
    margin-top: 30px;
}



main .main_content .wrapper .table_wrapper {
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-top:20px;
    width: 100%;
}

main .main_content .wrapper .table_wrapper .table_title {
    justify-content: flex-start;
    font-size:22px;
    font-weight: bold;
}

main .main_content .wrapper .table_wrapper .inquiry_table {
    width: 100%;
    /* table-layout:fixed; */
    /* height: 200px; */
    border-style: hidden;
}

main .main_content .wrapper .table_wrapper .inquiry_table .sumbnail {
    cursor: pointer;
}

main .main_content .wrapper .table_wrapper .inquiry_table .detail {
    display: none;
}

main .main_content .wrapper .table_wrapper .inquiry_table .detail.active {
    display: table-row;
}

main .main_content .wrapper .table_wrapper .inquiry_table th{
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    text-align: left;
    vertical-align: middle;
    line-height: normal;
    background-color: #ebf3ff;
    padding: 12px 10px;
}

main .main_content .wrapper .table_wrapper .inquiry_table td{
    border: 1px solid #333;
    background-color: #fff;
    text-align: left;
    border: 1px solid #bdbdbd;
    line-height: normal;
    white-space : nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 5px 10px;
}

main .main_content .wrapper .table_wrapper .inquiry_table .answer_date {
    position: relative;
}

main .main_content .wrapper .table_wrapper .inquiry_table .icon_img {
    position: absolute;
    right: 10px;
}

main .main_content .wrapper .table_wrapper .inquiry_table .country{
    color:#7c7c7c;
}

main .main_content .wrapper .table_wrapper .inquiry_table .price{
    font-weight: bold;
    color:#0062ff;
}

main .main_content .wrapper .table_wrapper .inquiry_table .top_left{
    border-top-left-radius: 10px;
}

main .main_content .wrapper .table_wrapper .inquiry_table .top_right{
    border-top-right-radius: 10px;
}

main .main_content .wrapper .table_wrapper .inquiry_table .bottom_left{
    border-bottom-left-radius: 10px;
}

main .main_content .wrapper .table_wrapper .inquiry_table .bottom_right{
    border-bottom-right-radius: 10px;
}




main .main_content .wrapper .inquiry_box {
    width: 1000px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebf3ff;
    border-radius: 10px;
}

main .main_content .wrapper .inquiry_box .label{
    width: 150px;
    flex-basis: 150px;
}

main .main_content .wrapper .inquiry_box .column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .main_content .wrapper .inquiry_box .row {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main .main_content .wrapper .input-area{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}
















#main-menu-body .customer-support-faq-list>.header {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid #d4d4d4;
}

#main-menu-body .customer-support-faq-list>.header>* {
    flex: 1;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#main-menu-body .customer-support-faq-list>.header>*>i {
    margin-right: 4px;
}

#main-menu-body .customer-support-faq-list>.item {
    width: 100%;
    border: 1px solid #eaeaea;
    margin-bottom: 12px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

#main-menu-body .customer-support-faq-list>.item.open>.header>.icon {
    transform: rotate(-180deg);
}

#main-menu-body .customer-support-faq-list>.item>.header {
    display: flex;
    align-items: center;
}

/* #main-menu-body .customer-support-faq-list>.item>.header>.category {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
} */

#main-menu-body .customer-support-faq-list>.item>.header>.answer_status {
    flex:1;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    max-width: 120px;
}

#main-menu-body .customer-support-faq-list>.item>.header>.inquiry_content {
    flex:1;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#main-menu-body .customer-support-faq-list>.item>.header>.inquiry_date {
    flex:1;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#main-menu-body .customer-support-faq-list>.item>.header>.question {
    font-size: 18px;
    padding-right: 10px;
}

#main-menu-body .customer-support-faq-list>.item>.header>.icon {
    position: absolute;
    right: 12px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
}

/* #main-menu-body .customer-support-faq-list>.item>.answer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
} */

#main-menu-body .customer-support-faq-list>.item>.answer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
}

#main-menu-body .customer-support-faq-list>.item>.answer .answer_category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    max-width: 120px;
    text-align: center;
    border:1px solid black;
    padding:10px;
}

#main-menu-body .customer-support-faq-list>.item>.answer .answer_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow:1;
    text-align: center;
    padding:10px;
}

#main-menu-body .customer-support-faq-page-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-menu-body .customer-support-faq-page-list>.previous {
    margin-right: 12px;
}

#main-menu-body .customer-support-faq-page-list>.next {
    margin-left: 6px;
}

#main-menu-body .customer-support-faq-page-list>.item {
    padding: 6px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 6px;
    color: black;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

#main-menu-body .customer-support-faq-page-list>.item.selected {
    background-color: #646464;
    color: white;
}

.customer-support-faq-list>.header .number_item {
    max-width: 120px;
}

.customer-support-faq-list>.item>.header>.category {
    width: 120px;
}

.customer-support-faq-list>.item>.answer {
    margin-left: 0;
}
