/* Common Introduction Start */
main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content1 {
    background: #bebebe;
    padding: 50px 0;
}

main .main_content1 .slide {
    width: 100%;
    height: 300px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

main .main_content2 {
    background: white;
    padding: 50px 0;
}

main .main_content2 .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content2 .text_area .introduce_content {
    font-weight: bold;
    display: block;
}

main .main_content2 .container {
    width: 100%;
    margin: 20px auto;
}

main .main_content2 .tab_title {
    width: 100%;
    display: flex;
    list-style: none;
    float: left;
    cursor: pointer;
    text-align: center;
}

main .main_content2 .tab_title li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    padding: 15px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #bebebe;
}

main .main_content2 .tab_title li.on {
    background-color: #bebebe;
    font-weight: bold;
}

main .main_content2 .tab_cont {
    clear: both;
    border: 1px solid #dedede;
    height: 400px;
    background-color: #cecece;
}

main .main_content2 .tab_cont div {
    display: none;
}

main .main_content2 .tab_cont div.on {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .main_content3 {
    padding: 50px 0;
    background: #f7f7f7;
}

main .main_content3 .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content3 .wrapper .text_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .main_content3 .wrapper .text_area .introduce_title {
    font-weight: bold;
    color: #3d3d3d;
    display: block;
}

main .main_content3 .wrapper .text_area .introduce_content {
    font-weight: bold;
    display: block;
}

main .main_content3 .wrapper .image_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main_content3 .wrapper .image_area .row_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

main .main_content3 .wrapper .image_area .box {
    width: 100%;
    height: 400px;
    background: #888888;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

main .main_content4 {
    background: white;
    padding: 50px 0;
}

main .main_content4 .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

main .main_content4 .wrapper .text_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .main_content4 .wrapper .text_area .introduce_title {
    font-weight: bold;
    font-size: 30px;
    color: #3d3d3d;
    display: block;
}

main .main_content4 .wrapper .text_area .introduce_content {
    font-weight: bold;
    display: block;
}

main .main_content4 .wrapper .image_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .main_content4 .wrapper .image_area .row_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

main .main_content4 .wrapper .image_area .box {
    width: 100%;
    height: 400px;
    background: #888888;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

main .main_content5 {
    padding: 50px 0;
    background: #f7f7f7;
}

main .main_content3 {
    padding: 50px 0;
    background: #f7f7f7;
}

main .main_content3 .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content3 .wrapper .text_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .main_content5 .wrapper .text_area .introduce_title {
    font-weight: bold;
    color: #3d3d3d;
    display: block;
}

main .main_content5 .wrapper .text_area .introduce_content {
    font-weight: bold;
    display: block;
}

main .main_content5 .wrapper .text_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main .main_content5 .wrapper .image_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main_content5 .wrapper .image_area .row_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

main .main_content6 {
    background: #bebebe;
    padding: 50px 0;
}

main .main_content6 .wrapper {
    display: block !important;
}

main .main_content6 .slide {
    width: 100%;
    height: 300px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

main .main_content7 {
    padding: 80px 0;
    height: 300px;
    background: #34b5a3;
}

main .main_content7 .wrapper {
    display: flex;
    flex-direction: row;
}

main .main_content7 .wrapper .text_area {
    display: flex;
    flex-direction: column;
    color: white;
}

main .main_content7 .wrapper .text_area .text_top {
    font-weight: bold;
}

main .main_content7 .wrapper .try_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: #34b5a3;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    line-height: normal;
}

main .main_content7 .wrapper .try_btn span {
    display: block;
}

main .popup_img {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

/* Common Introduction End */
/* PC Introduction Start */
@media screen and (min-width: 769px) {
    main .banner1 {
        left: 100px;
        top: 80px;
    }

    main .banner2 {
        left: 100px;
        top: 530px;
    }

    main .banner3 {
        left: 510px;
        top: 80px;
    }

    main .banner4 {
        left: 510px;
        top: 530px;
    }

    main .main_content2 .text_area .introduce_content {
        font-size: 30px;
    }

    main .main_content3 .text_area .introduce_content {
        font-size: 30px;
    }

    main .main_content3 .wrapper .text_area .introduce_title {
        font-size: 30px;
    }

    main .main_content3 .wrapper .text_area .introduce_content {
        font-size: 30px;
        line-height: normal;
    }

    main .main_content3 .wrapper .image_area {
        flex-direction: row;
    }

    main .main_content3 .wrapper .image_area .box {
        width: 260px;
    }

    main .main_content3 .wrapper .image_area .box .introduce_title {
        font-size: 20px;
    }

    main .main_content3 .wrapper .image_area .box .introduce_content {
        font-size: 18px;
    }

    main .main_content5 .wrapper .introduce_title {
        font-size: 30px;
    }

    main .main_content5 .wrapper .introduce_content {
        font-size: 18px;
    }

    main .main_content6 .row_content .text_area {
        width: 500px;
        height: 70px;
    }

    main .main_content6 .row_content .image_area {
        width: 80px;
        height: 80px;
        margin: 0 40px;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .main_content6 .row_content .image_area .icon-img {
        width: 60px;
        height: 60px;
    }

    main .main_content6 .left_content {
        padding-right: 250px;
    }

    main .main_content6 .right_content {
        padding-left: 250px;
    }

    main .main_content7 .text_area .text_top {
        font-size: 35px;
    }

    main .main_content7 .text_area .text_bottom {
        margin-top: 10px;
        font-size: 25px;
    }

    main .main_content7 .try_btn {
        margin-left: 60px;
        padding: 20px 50px;
        font-size: 25px;
        box-shadow: 5px 3px 10px #4b4b4b;
    }
}

/* PC Introduction End */