/* Common Introduction Start */
main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content1 {
    background: white;
    padding: 50px 0;
}

main .main_content .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content .text_area .introduce_title {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

main .main_content .text_area .introduce_content {
    font-size: 18px;
    display: block;
}

main .main_content .content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: #f7f7f7;
}

main .main_content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    /* flex-grow:1; */
}

main .main_content .container .sub_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* background-color: #f7f7f7; */
    padding: 20px 0
}

main .main_content .container .sub_container .address_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
    margin-left:10px;
}


main .main_content .container .sub_container .group_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    /* background-color: #f7f7f7; */
}

.column_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.row_wrapper {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.address_table_div{
    width:100%;
    height:400px;
    overflow: scroll;
}

.address_table {
    width: 100%;
}

.address_table th {
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    width: 10%;
    background-color: #cecece;
}

.address_table td {
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    height: 30px;
    width: 10%;
}

.label_info {
    background-color: #bebebe;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
}

.label_info.on{
    background-color: #888888;
    color:white;
    font-weight: bold;
}


@media (max-width: 1850px) {
    .main_content .wrapper {
        margin-left: 270px;
    }
}