/* Common Introduction Start */
main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content1 {
    background: white;
    padding: 50px 0;
}

main .main_content .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content .text_area .introduce_title {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

main .main_content .text_area .introduce_content {
    font-size: 18px;
    display: block;
}

main .main_content .content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: #f7f7f7;
}

.menu_select_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.menu_select_div input[type=radio] {
    display: none;
}

.menu_select_div input[type=radio]+label {
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: normal;
}

.menu_select_div input[type=radio]:checked+label {
    background-color: #333;
    color: #fff;
}

.money_select_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.money_select_div input[type=radio]+label {
    margin-right: 30px;
    cursor: pointer;
    line-height: normal;
}

.money_select_div input[type=radio]:checked+label {
    color: rgb(51, 29, 251);
    font-weight: bold;
}

.money_select_div .money_direct {
    display: none;
}

.money_select_div input[type=radio]:checked+label+input {
    display: block;
}


/* .menu_label {
    color: white;
    font-size: 20px;
    line-height: normal;
} */

.column_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.row_wrapper {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header_table {
    width: 100%;
    table-layout:fixed;
}

.header_table th {
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
    vertical-align: middle;
    line-height: normal;
}

.fax_table_div{
    width:100%;
    height:300px;
    overflow-y: scroll;
}

.fax_table {
    width: 100%;
    table-layout:fixed;
}

.fax_table th {
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
    vertical-align: middle;
    line-height: normal;
}

.fax_table td {
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    height: 30px;
    vertical-align: middle;
    line-height: normal;
}

.label_info {
    background-color: #bebebe;
    padding: 10px 30px;
    margin-right: 10px;
}

/* ul li태그에 리스트 스타일을 없앰 */
li {
    list-style: none;
}

/* ul li태그에 리스트 스타일을 없앰 */
ul {
    list-style: none;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
.drop_down >li {
    position: relative;
}

.drop_down>li>ul {
    display: none;
    position: absolute;
    font-size: 14px;
    background: skyblue;
    width: 100%;
}

.drop_down>li>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
}

.drop_down>li:hover>ul {
    display: block;
}

.drop_down>li>ul>li:hover {
    background: orange;
    transition: ease 1s;
}

.preview_div{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #888888;
    width:250px;
    height:320px;
}

@media (max-width: 1850px) {
    .main_content .wrapper {
        margin-left: 270px;
    }
}