#leftBar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #4a4adb;
    z-index: 9999;
    -webkit-border-radius: 0 30px 0 0;
    border-radius: 0 30px 0 0;
}

#rightBar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    z-index: 9999;
    -webkit-box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 13%);
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 13%);
}

.trans300 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.trans500 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.right-bar-open-btn {
    position: absolute;
    top: 110px;
    left: -40px;
    display: block;
    width: 40px;
    height: 150px;
    background: url(../../image/send/right_bar_open_bg.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}

.right-bar-open-btn .inner {
    position: relative;
    display: block;
    padding: 0 15.5px;
    height: 150px;
}

.right-bar-open-btn i {
    position: absolute;
    bottom: 36px;
    left: 10px;
    font-size: 24px;
    color: #33d0ad;
}

.right-bar-open-btn img {
    padding-top: 38px;
    width: 9px;
}

.right-bar-open-btn img.close-txt-img {
    display: none;
}

.right-bar-open-btn img.open-txt-img {
    display: open;
}

.right-bar-open-btn img {
    padding-top: 38px;
    width: 9px;
}

@media (max-width: 1580px) {
    .right-bar-open-btn {
        opacity: 1;
        visibility: visible;
    }

    /* #rightBar .close {
        right: -300px;
    } */

    #rightBar {
        right: -300px;
    }

    /* #rightBar .close .right-bar-open-btn i {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    } */

    #rightBar .right-bar-open-btn i {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    /* #rightBar .right-bar-open-btn img.close-txt-img {
        display: block;
    }

    #rightBar .right-bar-open-btn img.close-txt-img {
        display: none;
    } */
}

/* Common Introduction Start */
main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content1 {
    background: white;
    padding: 50px 0;
}

main .main_content .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content .text_area .introduce_title {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

main .main_content .text_area .introduce_content {
    font-size: 18px;
    display: block;
}

main .main_content1 .container {
    width: 100%;
    margin: 20px auto;
}

main .main_content1 .tab_title {
    width: 100%;
    display: flex;
    list-style: none;
    float: left;
    cursor: pointer;
    text-align: center;
}

main .main_content1 .tab_title li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    padding: 15px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #bebebe;
}

main .main_content1 .tab_title li.on {
    background-color: #bebebe;
    font-weight: bold;
}

main .main_content1 .tab_cont {
    clear: both;
    border: 1px solid #dedede;
    height: 100%;
    background-color: #cecece;
}

main .main_content1 .tab_cont .tab_in_content.on {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .main_content1 .tab_cont .tab_in_content {
    display: none;
}




main .main_content1 .sub_tab_title {
    /* width: 100%; */
    display: flex;
    list-style: none;
    float: left;
    cursor: pointer;
    text-align: center;
}

main .main_content1 .sub_tab_title li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    padding: 15px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #bebebe;
}

main .main_content1 .sub_tab_title li.on {
    background-color: #bebebe;
    font-weight: bold;
}

main .main_content1 .sub_tab_cont {
    clear: both;
    border: 1px solid #dedede;
    height: 100%;
    background-color: #cecece;
}

main .main_content1 .sub_tab_cont .sub_tab_in_content.on {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .main_content1 .sub_tab_cont .sub_tab_in_content {
    display: none;
}

main .main_content1 .sub_tab_cont .sub_tab_in_content .msg_layout {
    display: none;
    flex-direction: column;
}

.btn_table {
    width: 100%;
}

.btn_table th {
    text-align: left;
    font-weight: bold;
    border: 1px solid #333;
    padding: 10px;
}

.btn_table td {
    border: 1px solid #333;
    padding: 10px;
}


.column_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}

.row_wrapper {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.basis_500 {
    flex-basis: 500px;
}