/* Common Introduction Start */
main .main_content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

main .main_content .text_area .introduce_title {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

main .main_content .text_area .introduce_content {
    margin-top: 20px;
    font-size: 16px;
    display: block;
}

main .main_content1 {
    padding: 50px 0;
}

main .main_content1 .content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main_content1 .wrapper .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    line-height: normal;
}

main .main_content1 .wrapper .phone_frame {
    width: 307px;
    height: 550px;
    border-radius: 20px;
    background-image: url("../../image/service/phone_frame.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

main .main_content2 {
    background: linear-gradient( 180deg, #ebf3ff 50%, white 50%); ;
    padding: 50px 0;
}

main .main_content2 .background_div {
    background-image: url("../../image/service/background_global.png");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: left;
}

main .main_content2 .wrapper .text_area {
    margin: 0;
}

main .main_content2 .wrapper .text_area .introduce_title {
    font-weight: bold;
    font-size: 30px;
    color: #3d3d3d;
    display: block;
}

main .main_content2 .wrapper .text_area .introduce_content {
    color:#7c7c7c;
    display: block;
}

main .main_content2 .wrapper .image_area {
    width: 100%;
    margin-top: 30px;
    align-items: flex-end;
}

main .main_content2 .wrapper .image_area .pg_box {
    justify-content: flex-start;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    box-shadow: 5px 3px 10px #a3a3a3;
}

main .main_content2 .wrapper .image_area .pg_box .info_title {
    align-items: flex-start;
    font-size: 14px;
    font-weight: bold;
}

main .main_content2 .wrapper .image_area .pg_box .info_content {
    margin-top: 10px;
    align-items: flex-start;
    font-size: 15px;
}

main .main_content2 .wrapper .image_area .pg_box .icon_content {
    align-items: flex-end;
    justify-content: flex-end;
}

main .main_content2 .wrapper .image_area .pg_box .icon_content .icon_img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: auto;
}

main .main_content2 .wrapper .image_area .pg_box:not(:first-child)  {
    margin-left: 30px;
}

main .main_content2 .swiper-pagination-bullet {
    background-color: white;
    opacity: 0.5 !important;
}

main .main_content2 .swiper-pagination-bullet-active {
    color: #0062ff !important;
    box-shadow: 5px 3px 10px #a3a3a3;
    opacity: 1 !important;
}

main .main_content2 .swiper-container {
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 3px 10px #a3a3a3;
}

main .main_content2 .slide {
    background-color: white;
}


main .main_content2 .wrapper .image_area .swiper-slide .big_box .image {
    width: 100%;
}

main .main_content3 {
    background: white;
    padding: 50px 0;
}

main .main_content3 .wrapper .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

main .main_content3 .wrapper .text_area .introduce_title {
    font-weight: bold;
    font-size: 30px;
    color: #3d3d3d;
    display: block;
}

main .main_content3 .wrapper .text_area .introduce_content {
    display: block;
    margin-top: 30px;
}

main .main_content3 .wrapper .select_global_bar {
    padding: 15px;
    background-color: #0062ff;
    border-radius: 10px;
    margin-top:30px;
}

main .main_content3 .wrapper .select_global_bar label{
    color: white;
    font-size: 20px;
    min-width: 100px;
}



main .main_content3 .wrapper .image_area {
    margin-top: 20px;
}

main .main_content3 .wrapper .image_area .table_wrapper {
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    box-shadow: 5px 3px 10px #a3a3a3;
}
main .main_content3 .wrapper .image_area .table_wrapper .notice{
    margin-top:5px;
    justify-content: flex-end;
    font-size: 14px;
}

main .main_content3 .wrapper .image_area .table_wrapper .table_title {
    justify-content: flex-start;
    font-size:22px;
    font-weight: bold;
}

main .main_content3 .wrapper .image_area .table_wrapper .table_border {
    border: 2px solid black;
    border-radius: 10px;
    margin-top:20px;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table {
    width: 100%;
    table-layout:fixed;
    height: 200px;
    border-style: hidden;
}

main .main_content3 .wrapper .image_area .table_wrapper caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom:10px;
    text-align: left;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table th{
    text-align: left;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    background-color: #ebf3ff;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table td{
    border: 1px solid #333;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bdbdbd;
    line-height: normal;
    white-space : nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: middle;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table .country{
    color:#7c7c7c;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table .price{
    font-weight: bold;
    color:#0062ff;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table .top_left{
    border-top-left-radius: 10px;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table .top_right{
    border-top-right-radius: 10px;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table .bottom_left{
    border-bottom-left-radius: 10px;
}

main .main_content3 .wrapper .image_area .table_wrapper .charge_table .bottom_right{
    border-bottom-right-radius: 10px;
}








main .main_content4 {
    background: #0062ff;
    padding: 50px 0;
}

main .main_content4 .wrapper {
    display: block !important;
}

main .main_content4 .text_area {
    margin: 0;
    color: white;
}

main .main_content4 .swiper-container {
    width: 80%;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin-top: 30px;
}

main .main_content4 .swiper-button-prev {
    left: 8%;
}

main .main_content4 .swiper-button-next {
    right: 8%;
}

main .main_content4 .swiper-button-div {
    position: relative;
}

main .main_content4 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #f7f7f7;
}

main .main_content4 .swiper-pagination-bullet:not(:first-child) {
    margin-left: 15px !important;
}

main .main_content4 .slide {
    width: 100%;
    height: 300px;
    padding: 30px;
}

main .main_content4 .slide .question{
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    color: #0062ff;
}

main .main_content4 .slide .answer{
    justify-content: flex-start;
    font-size: 16px;
}

/* Common Introduction End */
/* PC Introduction End */